<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <div th:if="${loggedOut == true}">
        <p>You have been logged out successfully!</p>
    </div>
    <div th:if="${loggedOut == false}">
        <p>Unable to log out, please log in!</p>
    </div>
    <div class="header-container">
        <h1>Login page</h1>
        <div class="redi-buttons">
        <button onclick="window.location.href='/'">Home</button>
        </div>
    </div>
</header>
<main>
    <div th:if="${message}" class="success-message">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${registrationSuccess}">
        <p style="color: green;">Registration successful! Please log in.</p>
    </div>
    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required="required" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required="required" />
        <label for="remember-me">
            <input type="checkbox" id="remember-me" name="remember-me">Remember me
        </label>


        <button type="submit">Login</button>
    </form>

    <!-- Display error message -->
    <div th:if="${param.error}">
        <p style="color: red;">Invalid username or password.</p>
    </div>
</main>
</body>
</html>