<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <div class="header-container">
        <h1>Register page</h1>
        <div class="redi-buttons">
            <button onclick="window.location.href='/'">Home</button>
        </div>
    </div>
</header>
<main>
    <div th:if="${registrationError}">
        <p style="color: red;">Registration failed. Please try again.</p>
    </div>
    <form th:action="@{/register}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Register</button>
    </form>
</main>
</body>
</html>